<section class="section">
  <div class="container">
    <h1 class="title">
      Lista użytkowników
    </h1>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Liga</th>
        <th>Admin?</th>
        <th>Zatw.</th>
        <th>Edytuj</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td routerLink="/user/{{user.id}}">{{user.meta.name}}</td>
        <td>12</td>
        <td><label class="checkbox">
          <input type="checkbox">
        </label></td>
        <td><label class="checkbox">
          <input type="checkbox">
        </label></td>
        <td>68</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>