<!-- Details game container -->
<div *ngIf="game">
  {{game.name}}
  <br>
  {{game.created}}
  Gracze:
  <div *ngFor="let i of objectKeys(game.competitors)">
    {{game.competitors[i].club.name}}
    {{game.competitors[i].user.name}}
  </div>
  <button *ngIf="!isSigned()&&isOpen()" mat-button color="warn" (click)="openDialog()">Dołącz</button>
  <button *ngIf="isSigned()&&isOpen()" mat-button color="warn" (click)="openDialog()">Zmień zespół</button>
  <button *ngIf="isSigned()&&isOpen()" mat-button color="warn" (click)="removePlayerFromGame()">Wypisz się</button>
  <div *ngIf="!isOpen()">
    <table-details [game]="game"></table-details>
  </div>
  <div *ngIf="!isOpen()">
    <div *ngFor="let i of objectKeys(game.schedule)">
      <contest [contest]="game.schedule[i]" [gameId]="game.id"></contest>
    </div>
  </div>
  <div *ngIf="!isOpen()">
    <div *ngFor="let i of objectKeys(game.schedule)">
      <contest [contest]="game.schedule[i]" [gameId]="game.id"></contest>
    </div>
  </div>
</div>
