<div id="game-{{contest.id}}">
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile [colspan]="2">
      <user-ingress [user]="contest.home.user" [club]="contest.home.club"></user-ingress>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div *ngIf="isPlayed()">
        {{contest.result.home}}
      </div>
      :
      <div *ngIf="isPlayed()">
        {{contest.result.visitor}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <user-ingress [user]="contest.visitor.user" [club]="contest.visitor.club"></user-ingress>
    </mat-grid-tile>
  </mat-grid-list>
  Comments: {{contest.comment}}
  <br>
  {{contest.id}}
  <br>
  <a (click)="goTo('game-' + contest.rematch)">Jump to rematch</a>
  <br>
  Scheduled: {{contest.scheduled}}
  <br>
  Updated: {{contest.updated}}
  <br>
  {{contest.status}}
  <div *ngIf="!isPlayed()&&isAuthorized()">
    <button mat-raised-button color="primary" (click)="openDialog()">Opublikuj wynik</button>
  </div>
  <div *ngIf="isPlayed()&&isAuthorized()">
    <button mat-raised-button color="primary" (click)="postResult(contest.id)">Edit result</button>
  </div>
</div>
{{contest|json}}
