<div id="game-{{contest.id}}">
  <mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile [colspan]="2">
      <user-ingress [user]="contest.home.user" [club]="contest.home.club"></user-ingress>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <div *ngIf="contest.result">
        {{contest.result.home}}
      </div>
      :
      <div *ngIf="contest.result">
        {{contest.result.visitor}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <user-ingress [user]="contest.visitor.user" [club]="contest.visitor.club"></user-ingress>
    </mat-grid-tile>
  </mat-grid-list>
  Zaktualizowano: {{contest.updated}}
  <br>
  Status: {{contest.status}}
  <br>
  <span *ngIf="contest.comment">
    Komentarz: {{contest.comment}}
  </span>
  <br>
  <button mat-button color="primary" (click)="goTo('game-' + contest.rematch)">Idź do rewanżu</button>
  <div *ngIf="!isPlayed()&&isAuthorized()">
    <button mat-button color="primary" (click)="openDialog()">Opublikuj wynik</button>
  </div>
</div>
