@import "./../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
body {
  margin: 0;
  padding: 0;
}

.example-card {
  width: 400px;
}

.example-header-image {
  //background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#game-card-image {
  width: 285px;
  height: 320px;
  background: url('./../img/championschib_logo.svg');
  background-size:cover;
}

html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu-item {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-grid-tile {
  background: lightblue;
}

.mat-table {
  display: table;
  width: 100%;

  > .mat-header-row, > .mat-row {
    display: table-row;
    padding: 12px;
    border: none;

    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 48px;
      vertical-align: middle;
      padding: 0 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
}
