<section class="section">
  <div class="container">
    <div class="box" style="width: 750px">
      <article class="media">
        <div class="media-content">
          <div id="game-image" class="center">
          </div>
        </div>
      </article>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{game.name}}</strong> <small>{{game.location}}</small>
              <br>
            </p>
            <span *ngIf="game.rules">Zasady:</span>
            <ol>
              <li *ngFor="let rule of game.rules">{{rule}}</li>
            </ol>
          </div>
        </div>
        <div *ngIf="game.status=='OPEN'" class="media-right">
          <p class="level-item has-text-centered">
            <a class="button is-primary">Dołącz</a>
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
