<mat-toolbar color="primary">
  <mat-icon (click)="sidenav.toggle()" style="font-size: 26px">menu</mat-icon>
  <span>Premiersted</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button color="accent" (click)="logIn()" *ngIf="!checkAuth()">Log In</button>
  <button mat-raised-button color="warn" (click)="logOff()" *ngIf="checkAuth()" routerLink="/">Log Off</button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" opened="false" (click)="sidenav.toggle()">
    <div class="menu-item" routerLink="/">Home</div>
    <div class="menu-item" routerLink="/users">Users</div>
    <div class="menu-item" routerLink="/user/{{getId()}}">MyAccount</div>
    <div class="menu-item" routerLink="/games">Games</div>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>