<!-- User container -->
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.background-image]="user.getMeta().getAvatar_url()"></div>
    <mat-card-title>{{user.getMeta().getName()}} {{user.getMeta().getLogin()}}</mat-card-title>
    <mat-card-subtitle>{{user.getAccess()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-tab-group *ngIf="games">
    <mat-tab *ngFor="let game of objectKeys(games)" label="{{games[game].name}}">
      <h1>Results:</h1>
      <div *ngFor="let contest of contests">
        <div *ngIf="games[game].id===contest.gid">{{contest|json}}</div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions>
    <!--button mat-button>LIKE</button>
    <button mat-button>SHARE</button-->
  </mat-card-actions>
</mat-card>
