<section class="section">
  <div class="container">
    <div class="box" style="width: 750px">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img src="{{avatarUrl}}" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{name}}</strong> <small>{{login}}</small>
              <br>
              Zespół: Manchester United
              <br>
              Zwycięstwa: 4
              <br>
              Porażki: 1
              <br>
              Remisy: 2
            </p>
          </div>
        </div>
      </article>
      <article class="media">
        <div class="content center">
          <h1 style="text-align:center">Układ kolejek:</h1>
          <p style="text-align:center">
            Modelga - Sojecki 4:1
            <br>
            Modelga - Sojecki 4:1
            <br>
            Modelga - Sojecki 4:1
            <br>
            Modelga - Sojecki 4:1
            <br>
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
