<!-- User container -->
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [style.background-image]="user.getMeta().getAvatar_url()"></div>
    <mat-card-title>{{user.getMeta().getName()}} {{user.getMeta().getLogin()}}</mat-card-title>
    <mat-card-subtitle>{{user.getAccess()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-tab-group *ngIf="games">
    <mat-tab *ngFor="let i of objectKeys(games)" label="{{games[i].name}}">
      <div *ngFor="let contest of contests">
        <contest *ngIf="contest.gid===games[i].id" [contest]="contest" [gameId]="games[i].id"></contest>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
