<!-- Main container -->
<div class='proportion-box'>
  <div id="main-image" class="proportion-content"></div>
</div>


<div id="main-content">
  <h1>Lorem ipsum</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan enim vitae est semper, id ultricies lacus
    condimentum. Etiam tempor enim magna, sed porta diam consectetur nec. Quisque vitae augue ex. Morbi laoreet lacus ac
    eleifend bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer libero velit, accumsan eget
    cursus
    sit amet, vehicula non lorem. Duis at tellus sed turpis faucibus bibendum sit amet vel nisl. Quisque orci nisl,
    luctus
    ut posuere eu, viverra in libero. Quisque pellentesque fringilla tristique. Vestibulum suscipit, turpis non semper
    convallis, nisl erat dictum elit, a malesuada velit ante at lorem. In sagittis nulla in faucibus suscipit. Proin
    blandit turpis vitae felis efficitur, et facilisis diam convallis.</p>
</div>
