<!-- Main container -->
<section class="section">
  <img src="http://localhost:8080/premiersted_logo.svg">
  <div id="main-image" class="center">
  </div>
  <div class="container" style="width: 750px">
    <input class="input" type="text" placeholder="Wyszukaj ligę" [(ngModel)]="formInput" (ngModelChange)="search($event)" style="margin-bottom: 20px">

    <div *ngFor="let game of games" class="container">
      <div class="box" style="width: 750px" routerLink="/game/{{game.id}}">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{game.name}}</strong> Status: {{game.status}} <small>{{game.location}}</small>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
